
<div class="navbar navbar-static-top" style="margin-bottom: 0; height: 100px;">
    <div class="container">

        <div class="navbar-header">
            <div class="navbar-brand">
                <img src="~/Content/Images/logo.png" />
            </div>
            
        </div>

    </div>
</div>

<div class="navbar navbar-inverse " style="margin-bottom:0;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Find Freelancer", "Freelancer", "Index")</li>
                <li>@Html.ActionLink("Find Jobs", "Index", "Jobs")</li>
                <li>@Html.ActionLink("Post Job", "Create", "Jobs")</li>
                
            </ul>
            @Html.Partial("Admin/_LoginPartial")
        </div>
    </div>
</div>


