@model IEnumerable<WebSoftSeo.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutEmployer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @{
        WebSoftSeo.Models.ApplicationDbContext db = new WebSoftSeo.Models.ApplicationDbContext();
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    List<String> roleNames = new List<String>();
                   foreach (var role in item.Roles)
                    {
                        roleNames.Add(db.Roles.Find(role.RoleId).Name);
                    }
                   //var roleString = string.Join(',', roleNames.ToArray());
                
                }
                @String.Join(",", roleNames)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
